/*
Colors:
	Body 		  : #4A4E5A
	Headers 	: #30323A
	Primary 	: #F8694A
	Dark 		  :	#30323A
	Grey 		  : #DADADA #F6F7F8

Fonts: Hind

Table OF Contents
------------------------------------
1 > GENERAL
------ typography
------ Buttons
------ Inputs
------ Lists
------ Sections
------ Breadcrumb
2 > HEADER
------ Top header
------ Logo
------ Search header
------ Account header
------ Cart header
3 > NAVIGATION
------ Category nav
------ Menu nav
------ Dropdowns
------ Mobile Nav
4 > BANNERS
------ Promo
5 > HOME SLIDER
6 > PRODUCT
------ Single product
------ Widget product
------ Product slick
7 > PRODUCTS PAGE
------ Aside
------ Store
8 > PRODUCT DETAILS PAGE
------ Product view
------ Product details
------ Product tab
9 > CHECKOUT PAGE
10 > FOOTER
11 > SLICK
------ Arrows
------ Dots
12 > RESPONSIVE
------------------------------------*/

/*=========================================================
	01 -> GENERAL
===========================================================*/

/*----------------------------*\
	Typography
\*----------------------------*/

body {
  font-family: 'Hind', sans-serif;
  color: #4A4E5A;
  overflow-x: hidden;
}

#loading{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 5px solid #ccc;
  border-top-color: #845422;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 99;
  animation: putar 2s ease infinite;
}

@keyframes putar{
  from{
    transform: rotate(0deg);
  }to{
    transform: rotate(360deg);
  }
}

h1, h2, h3, h4, h5, h6 {
  color: #30323A;
  margin: 0 0 10px;
  font-weight: 700;
}

a {
  color: #30323A;
  -webkit-transition: 0.3s color;
  transition: 0.3s color;
}

a:hover, a:focus {
  color: #845422 ;
  text-decoration: none;
  outline: none;
}

.primary-color {
  color: #845422 ;
}

.white-color {
  color: #FFF;
}

.font-weak {
  font-weight: 400;
}

strong {
  color: #30323A;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border-color: #DADADA;
}

/*----------------------------*\
	Buttons
\*----------------------------*/

.main-btn, .primary-btn {
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.icon-btn.main-btn, .icon-btn.primary-btn {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0px;
  border: none;
}

.main-btn {
  color: #30323A;
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 0px 1px #945113 inset, 0px 0px 0px 6px transparent;
  box-shadow: 0px 0px 0px 1px #945113 inset, 0px 0px 0px 6px transparent;
}

.main-btn:hover, .main-btn:focus {
  color: #845422 ;
  -webkit-box-shadow: 0px 0px 0px 1px 	#d7c797 inset, 0px 0px 0px 0px 	#d7c797 ;
  box-shadow: 0px 0px 0px 1px 	#845422 inset, 0px 0px 0px 0px #845422 ;
}

.primary-btn {
  color: #FFF;
  background-color: #845422;
}

.primary-btn:hover, .primary-btn:focus {
  color: #000;
  background-color: #e2d5ad;
}

.main-btn-success {
  display: inline-block;
  border: none;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  color: #FFF;
  background-color: #845422;
}

.main-btn-success:hover, .main-btn-success:focus {
  color: #000;
  background-color: #e2d5ad;
}


/*----------------------------*\
	Inputs
\*----------------------------*/

.input {
  width: 100%;
  height: 40px;
  padding: 0px 15px;
  border: none;
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 5px transparent;
  box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 5px transparent;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.input:focus {
  -webkit-box-shadow: 0px 0px 0px 1px #845422 inset, 0px 0px 0px 0px #845422 ;
  box-shadow: 0px 0px 0px 1px #845422 inset, 0px 0px 0px 0px #845422 ;
}

textarea.input {
  padding: 15px;
}

.input-checkbox .caption {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 0.3s max-height;
  transition: 0.3s max-height;
}

.input-checkbox>label {
  color: #30323A;
}

.input-checkbox input[type="checkbox"]:checked+label+.caption, .input-checkbox input[type="radio"]:checked+label+.caption {
  max-height: 800px;
}

/*----------------------------*\
	Lists
\*----------------------------*/

.list-links .list-links-title {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 16px;
}

.list-links li>a {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  padding: 2px 0px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.list-links li>a:before {
  content: "\f105";
  position: absolute;
  left: 0px;
  font-family: FontAwesome;
  -webkit-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  transform: translateX(-10px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.list-links li>a:hover, .list-links li>a:focus, .list-links li.active>a {
  color: #845422 ;
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

.list-links li>a:hover:before, .list-links li>a:focus:before, .list-links li.active>a:before {
  opacity: 1;
  visibility: visible;
}

/*----------------------------*\
	Sections
\*----------------------------*/

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-grey {
  background: rgb(248, 245, 245);
  box-shadow: 0 1px 5px 5px rgb(248, 245, 245);
}

.section-title {
  position: relative;
  margin-bottom: 15px;
  margin-top: 15px;
  border-bottom: 1px solid #DADADA;
}

.section-title .title {
  display: inline-block;
  text-transform: uppercase;
}

.section-title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1.5px;
  height: 3px;
  width: 60px;
  background-color: #ebc1a8e7;
}

/*----------------------------*\
	Breadcrumb
\*----------------------------*/

#breadcrumb {
  -webkit-box-shadow: 0px 6px 6px -6px rgba(0, 0, 0, 0.175);
  box-shadow: 0px 6px 6px -6px rgba(0, 0, 0, 0.175);
}

.breadcrumb {
  background-color: transparent;
  border: none;
  border-radius: 0px;
  padding: 15px 0px;
  margin: 0;
}

.breadcrumb>.active {
  color: #af5c2ce7;
}

.breadcrumb>li+li:before {
  color: #000000;
}

/*=========================================================
	02 -> HEADER
===========================================================*/

#header {
  padding-top: 15px;
  padding-bottom: 15px;
}

/*----------------------------*\
	Top header
\*----------------------------*/

#top-header {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #DADADA;
}

.header-top-links>li {
  display: inline-block;
}

.header-top-links>li+li {
  margin-left: 15px;
}

.header-top-links>li>a {
  cursor: pointer;
  text-transform: uppercase;
}

/*----------------------------*\
	Back-to-Top
\*----------------------------*/

.back-to-top {
  cursor: pointer;
  z-index: 99;
  background-color: #222;
  width: 43px;
  bottom: 35px;
  right: 10px;
  height: 43px;
  line-height: 43px;
  position: fixed;
  display: block;
  text-align: center;
  font-size: 35px;
  color: white;
  border-radius: 3px;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
}

.back-to-top.scroll-top {
  bottom: -100px;
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

/*----------------------------*\
	logo
\*----------------------------*/

.header-logo {
  display: inline-block;
  margin-right: 15px;
}

.header-logo .logo>img {
  width: 100%;
  max-height: 100px;
}

/*----------------------------*\
	Search header
\*----------------------------*/

.header-search {
  display: inline-block;
  padding: 10px 0px;
  max-width: 250px;
}

.header-search>form {
  position: relative;
}

.header-search>form .search-input { 
  padding-left: 10px;
  padding-right: 60px;
  margin-left: 130px;
}

.header-search>form .search-categories {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 130px;
}

.header-search>form .search-btn {
  position: absolute;
  top: 2px;
  right: -130px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}

/*----------------------------*\
	Account header
\*----------------------------*/

.header-btns>li {
  display: inline-block;
  vertical-align: top;
  padding: 15px 0px;
}

.header-btns>li+li {
  margin-left: 15px;
}

.header-btns>li .header-btns-icon {
  position: relative;
  float: left;
  margin-right: 15px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #30323A;
  background-color: rgb(255, 255, 255);
  border-radius: 99em;
  border: 2px dotted #DADADA;
}

.header-btns .dropdown-toggle {
  display: block;
  cursor: pointer;
}

.header-btns .dropdown-toggle1 {
  display: block;
  cursor: pointer;
}


.header-account.dropdown .custom-menu>li>a>i {
  margin-right: 15px;
  color: #845422 ;
}


/*----------------------------*\
	Cart header
\*----------------------------*/

.header-cart .header-btns-icon .qty {
  position: absolute;
  right: 0px;
  top: -9px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  font-size: 10px;
  background: #845422;
  color: #FFF;
  border-radius: 50%;
}

.header-cart.dropdown .custom-menu {
  width: 300px;
}

#shopping-cart .shopping-cart-list {
  max-height: 260px;
  margin-bottom: 15px;
  overflow-y: scroll;
}

#shopping-cart .shopping-cart-list .product.product-widget:first-child {
  margin-top: 0px;
}

#shopping-cart .shopping-cart-list .product.product-widget:last-child {
  margin-bottom: 0px;
}

#shopping-cart .shopping-cart-btns>button {
  width: calc(50% - 2px);
}

/*=========================================================
	03 -> NAVIGATION
===========================================================*/

#navigation {
  background-color: #30323A;
}

#navigation .container {
  position: relative;
}

/*----------------------------*\
	Category nav
\*----------------------------*/

.category-nav {
  float: right;
  width: 270px;
  box-shadow: 0px 0px 2 px 1px #845422 ;
}

.category-nav .category-header {
  padding: 15px;
  display: block;
  text-transform: uppercase;
  background: #845422;
  color: #FFF;
  font-weight: 700;
}

.category-nav .category-header>i {
  float: right;
  line-height: 20px;
}

.category-nav .category-list {
  position: absolute;
  width: 270px;
  background-color: rgb(255, 255, 255);
  border-left: 1px solid #a1a1a1;
  border-right: 1px solid #b6b6b6;
  border-bottom: 1px solid #7c7c7c;
  z-index: 50;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.category-nav.show-on-click .category-list {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0px, 15px);
  -ms-transform: translate(0px, 15px);
  transform: translate(0px, 15px);
}

.category-nav.show-on-click .category-list.open {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.category-nav .category-list>li+li {
  border-top: 1px solid #969696;
}

.category-nav .category-list>li.dropdown>.dropdown-toggle>i {
  float: right;
  line-height: 20px;
}

.category-nav .category-list>li>a {
  display: block;
  padding: 15px;
  text-transform: uppercase;
}

.category-nav .category-list>li>a:hover, .category-nav .category-list>li>a:focus, .category-nav .category-list>li.dropdown.open>a {
  color: #845422 ;
}

/*----------------------------*\
	Menu nav
\*----------------------------*/

.menu-nav .menu-header {
  display: none;
  padding: 15px;
  text-transform: uppercase;
  background: #8d894b;
  color: #FFF;
  font-weight: 700;
}

.menu-nav .menu-header>i {
  float: right;
  line-height: 20px;
}

.menu-nav .menu-list>li {
  display: inline-block;
}

.menu-nav .menu-list>li>a {
  display: block;
  padding: 15px;
  color: #FFF;
  text-transform: uppercase;
}

.menu-nav .menu-list>li>a:hover, .menu-nav .menu-list>li>a:focus, .menu-nav .menu-list>li.dropdown.open>a {
  color: #845422 ;
}

/*----------------------------*\
	Dropdowns
\*----------------------------*/

.custom-menu {
  position: absolute;
  padding: 15px;
  background: #FFF;
  -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.175);
  z-index: 100;
  top: 100%;
  min-width: 200px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.dropdown.open>.custom-menu {
  opacity: 1;
  visibility: visible;
}

/*-- Default Dropdown --*/

.dropdown.default-dropdown>.custom-menu {
  border-top: 2px solid #845422;
  left: 72%;
  -webkit-transform: translateX(-50%) translateY(15px);
  -ms-transform: translateX(-50%) translateY(15px);
  transform: translateX(-50%) translateY(15px);
}

.dropdown.default-dropdown.open>.custom-menu {
  -webkit-transform: translateX(-50%) translateY(0px);
  -ms-transform: translateX(-50%) translateY(0px);
  transform: translateX(-50%) translateY(0px);
}

.dropdown.default-dropdown>.custom-menu>li>a {
  display: block;
  padding: 10px 0px;
  text-transform: uppercase;
}

/*-- Mega Dropdown --*/

.dropdown.mega-dropdown.full-width {
  position: static !important;
}

.dropdown.mega-dropdown>.custom-menu {
  border-top: 2px solid #845422;
  left: 0;
  -webkit-transform: translate(0px, 15px);
  -ms-transform: translate(0px, 15px);
  transform: translate(0px, 15px);
  width: auto;
  min-width: 750px;
  max-width: 100%;
}

.dropdown.mega-dropdown.full-width>.custom-menu {
  width: 100%;
}

.dropdown.mega-dropdown.open>.custom-menu {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

/*-- Side Dropdown --*/

.dropdown.side-dropdown>.custom-menu {
  border-left: 2px solid #845422 ;
  left: 100%;
  top: 0;
  width: 750px;
  -webkit-transform: translate(15px, 0px);
  -ms-transform: translate(15px, 0px);
  transform: translate(15px, 0px);
}

.dropdown.side-dropdown.open>.custom-menu {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

/*----------------------------*\
	Mobile nav
\*----------------------------*/

#header .nav-toggle {
  display: none;
  float: right;
  margin-top: -205px;
}

@media only screen and (max-width: 991px) {
  #header .nav-toggle {
    display: inline-block;
  }

  #header .dropdown-toggle1{
    display: block;
    cursor: pointer;
    margin-left: 15px;
  }

  header .pull-left, header .pull-right {
    float: none !important;
  }

  header .pull-right {
    margin-top: 2px;
    margin-right: 100opx;
    position: relative;

  }
  
  #responsive-nav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    max-width: 275px;
    width: 0%;
    overflow: hidden;
    background-color: #FFF;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    z-index: 990;
  }
  #responsive-nav.open {
    width: 100%;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  #responsive-nav .dropdown .custom-menu {
    display: none;
    position: static;
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top: none;
    border-left: 2px solid #845422 ;
  }
  #responsive-nav .dropdown.open .custom-menu {
    display: block;
    min-width: auto;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .category-nav .category-list, .menu-nav .menu-list {
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: calc(100vh - 100px);
  }
  .category-nav .category-list.open, .menu-nav .menu-list.open {
    display: block;
  }
  .menu-nav .menu-header, .category-nav .category-header {
    cursor: pointer;
  }
  .category-nav {
    float: none;
    width: 100%;
  }
  .category-nav .category-list {
    position: static;
  }
  .menu-nav .menu-header {
    display: block;
  }
  .menu-nav .menu-list {
    float: none;
    border-left: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
    border-bottom: 1px solid #DADADA;
  }
  .menu-nav .menu-list>li {
    display: block;
  }
  .menu-nav .menu-list>li+li {
    border-top: 1px solid #DADADA;
  }
  .menu-nav .menu-list>li>a {
    color: #30323A;
  }
  #navigation.shadow:after {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99;
  }
}

/*=========================================================
	04 -> BANNERS
===========================================================*/

.banner {
  display: block;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}

.banner>img {
  width: 100%;
}

.banner.banner-1 .banner-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.banner.banner-2 .banner-caption {
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 10%;
}

.banner h1 {
  font-size: 46px;
  text-transform: uppercase;
}

/*----------------------------*\
  promo
\*----------------------------*/

.promo-area {
background:#ffffff;
color: #fff;
padding: 40px 10px 40px -20px;
margin-bottom: 80px;
}

.promo-area .zigzag-bottom{background: #f4f4f4}
.single-promo {
  font-size: 25px;
  font-weight: 200;
  padding: 20px 10px;
  margin-bottom: 20px;
  text-align: center;
}

.single-promo i {
font-size: 50px;
}

.single-promo:hover {
  color: #fff;
  background: #331d06;
}

.promo1 { background:#083f8b;}
.promo2 { background:#9b850b;}
.promo3 { background:#88170b;}
.promo4 { background:#116866;}

.section-title {
font-family: "Raleway",sans-serif;
font-size: 50px;
font-weight: 100;
margin-bottom: 50px;
text-align: center;
}

/*=========================================================
	05 -> HOME SLIDER
===========================================================*/

#home .home-wrap {
  margin-left: 270px;
}

#home-slick .banner {
  margin: 0px;
}

/*=========================================================
	06 -> PRODUCT
===========================================================*/

.product .product-old-price {
  color: #845422 ;
  font-size: 70%;
}

.product .product-rating {
  display: inline-block;
}

.product .product-rating>i {
  color: #f7e019;
}

.product .product-rating>i.empty {
  color: #DADADA;
}

.product .product-label>span {
  position: relative;
  display: inline-block;
  padding: 5px 15px;
  font-weight: 700;
  color: #FFF;
  background-color: #30323A;
  z-index: 22;
}

.product .product-label>span.sale {
  background-color: #381000;
}

.product .product-countdown {
  z-index: 22;
}

.product .product-countdown>li {
  display: inline-block;
  margin-right: -4px;
}

.product .product-countdown>li+li:before {
  content: ":";
  color: #FFF;
  background: #30323A;
  padding: 2px;
}

.product .product-countdown>li>span {
  display: inline-block;
  color: #FFF;
  font-weight: 700;
  padding: 10px;
  background: #845422;
}

/*----------------------------*\
	Single product
\*----------------------------*/

.product.product-single {
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.product.product-single:hover {
  -webkit-box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.175);
  box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.175);
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

.product.product-single .product-thumb {
  position: relative;
  margin-bottom: 15px;
}

.product.product-single .product-thumb>img {
  width: 100%;
}

.product.product-single .product-thumb:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFF;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.product.product-single:hover .product-thumb:after {
  opacity: 0.7;
  visibility: visible;
}

.product.product-single .quick-view {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  z-index: 20;
}

.product.product-single:hover .quick-view {
  opacity: 1;
  visibility: visible;
}

.product.product-single .product-label {
  position: absolute;
  left: 0;
  top: 0;
}

.product.product-single .product-label>span {
  display: block;
}

.product.product-single .product-countdown {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

.product.product-single .product-body {
  padding: 25px;
}

.product.product-single .product-price {
  display: inline-block;
}

.product.product-single .product-rating {
  float: left;
  margin-top: 3px;
}

.product.product-single .product-name {
  font-size: 16px;
}

.product.product-single .product-btns {
  margin-top: 20px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.product.product-single:hover .product-btns {
  opacity: 1;
  visibility: visible;
}

/*-- hot product --*/

.product.product-single.product-hot {
  border: 2px solid #845422;
}

.product.product-single.product-hot .product-btns {
  opacity: 1;
  visibility: visible;
}

/*----------------------------*\
	 Widget product
\*----------------------------*/

.product.product-widget {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}

.product.product-widget .product-thumb {
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
}

.product.product-widget .product-thumb>img {
  width: 100%;
}

.product.product-widget .product-body {
  padding-left: 75px;
  padding-top: 10px;
  min-height: 60px;
}

.product.product-widget .product-price {
  font-size: 18px;
  margin-bottom: 5px;
}

.product.product-widget .product-price .qty {
  font-size: 14px;
  font-weight: 400;
}

.product.product-widget .product-name {
  font-size: 14px;
}

.product.product-widget .cancel-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: transparent;
  border: none;
  color: #DADADA;
}

.product.product-widget .cancel-btn:hover {
  color: #30323A;
}

/*----------------------------*\
	Product slick
\*----------------------------*/

.product-slick .slick-slide {
  margin-right: 15px;
  margin-left: 15px;
}

/*=========================================================
	07 -> PRODUCTS PAGE
===========================================================*/

/*----------------------------*\
	Aside
\*----------------------------*/

#aside .aside {
  margin-bottom: 30px;
}

#aside .aside:last-child {
  margin-bottom: 0px;
}

.aside .aside-title {
  position: relative;
  border-bottom: 1px solid #DADADA;
  text-transform: uppercase;
  padding-bottom: 15px;
  margin-bottom: 30px;
  margin-top: 15px;
  line-height: 24px;
  font-size: 18px;
}

.aside .aside-title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1.5px;
  height: 3px;
  width: 60px;
  background-color: #845422;
}

/*-- Filter list --*/

.filter-list {
  margin-bottom: 15px;
}

.filter-list>li {
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 6px;
}

.filter-list>li:last-child {
  margin-right: 0px;
}

.filter-list li a {
  position: relative;
  padding: 0px 5px 0px 20px;
}

.filter-list li a:before {
  content: "\f00d";
  font-family: FontAwesome;
  position: absolute;
  left: 4px;
  top: 5px;
  line-height: 12px;
  font-size: 9px;
  color: #FFF;
  background: #30323A;
  width: 12px;
  text-align: center;
  border-radius: 50%;
  height: 12px;
}

/*-- Price Filter --*/

#price-slider {
  margin: 60px 0px 50px;
}

.noUi-target {
  background-color: #DADADA;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-radius: 0px;
}

.noUi-connect {
  background-color: #845422;
}

.noUi-horizontal {
  height: 4px;
}

.noUi-horizontal .noUi-handle {
  width: 12px;
  height: 12px;
  left: -6px;
  top: -4px;
  border: none;
  background: #30323A;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
}

.noUi-handle:before, .noUi-handle:after {
  display: none;
}

.noUi-tooltip {
  border: none;
  color: #FFF;
  background: #30323A;
  border-radius: 0px;
}

/*----------------------------*\
	Store
\*----------------------------*/

#store-main {
  margin-top: 15px;
  padding-top: 30px;
  border-top: 1px solid #DADADA;
  margin-bottom: 15px;
  padding-bottom: 30px;
  border-bottom: 1px solid #DADADA;
}

#store {
  margin-top: 15px;
  padding-top: 30px;
  border-top: 1px solid #DADADA;
  margin-bottom: 15px;
  padding-bottom: 30px;
  border-bottom: 1px solid #DADADA;
}

/*-- store filter --*/

.row-filter {
  display: inline-block;
  vertical-align: top;
}

.row-filter>a {
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  color: #FFF;
  background-color: #30323A;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.row-filter>a:hover {
  opacity: 0.9;
}

.row-filter>a.active {
  background-color: #845422;
}

.sort-filter {
  display: inline-block;
  margin-left: 15px;
}

.sort-filter select.input {
  width: 120px;
}

.page-filter select.input {
  width: 90px;
}

.page-filter {
  display: inline-block;
}

.store-pages {
  display: inline-block;
  margin-left: 15px;
}

.store-pages li {
  display: inline-block;
  margin-right: 6px;
}

.store-pages li a {
  display: block;
  min-width: 10px;
  text-align: center;
}

.store-pages li.active {
  color: #845422 ;
}

/*=========================================================
	08 -> PRODUCT DETAILS PAGE
===========================================================*/

/*----------------------------*\
	Product view
\*----------------------------*/

#product-main-view .slick-arrow {
  opacity: 0;
}

#product-main-view:hover .slick-arrow {
  opacity: 1;
}

#product-view {
  margin-top: 10px;
  margin-bottom: 15px;
}

#product-view .product-view.slick-slide {
  opacity: 0.2;
}

#product-view .product-view.slick-slide.slick-current {
  opacity: 1;
  -webkit-box-shadow: 0px 0px 0px 2px #eb9e39 inset;
  box-shadow: 0px 0px 0px 2px #eb9e39 inset;
}

#product-view .product-view {
  padding: 7.5px;
}

.product-view>img {
  width: 100%;
}

/*----------------------------*\
	Product details
\*----------------------------*/

.product.product-details .product-name {
  margin-top: 15px;
}

.product.product-details .product-rating {
  margin-right: 15px;
  margin-bottom: 15px;
}

.product.product-details .product-options {
  padding-top: 30px;
  margin-bottom: 15px;
  border-top: 1px solid #DADADA;
  margin-top: 15px;
}

.product-options .size-option {
  margin-bottom: 15px;
}

.size-option>li {
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 6px;
  vertical-align: top;
}

.size-option>li:last-child {
  margin-right: 0px;
}

.size-option>li>a {
  display: block;
  border: 1px solid #DADADA;
  font-weight: 700;
  padding: 2px 7px 0px 8px;
}

.size-option>li.active a {
  color: #ffe817;
  border-color: #ffe817;
}

.color-option>li {
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 6px;
  vertical-align: top;
}

.color-option>li:last-child {
  margin-right: 0px;
}

.color-option>li>a {
  display: block;
  width: 20px;
  height: 20px;
}

.color-option>li.active a {
  -webkit-box-shadow: 0px 0px 0px 2px #FFF, 0px 0px 0px 3px #845422;
  box-shadow: 0px 0px 0px 2px #FFF, 0px 0px 0px 3px #845422;
}

.product.product-details .qty-input {
  display: inline-block;
}

.product.product-details .qty-input .input {
  width: 90px;
}

/*----------------------------*\
	Product tab
\*----------------------------*/

.product-tab {
  margin-top: 30px;
}

.product-tab .tab-nav {
  border-bottom: 1px solid #DADADA;
  margin-bottom: 30px;
}

.product-tab .tab-nav li {
  display: inline-block;
}

.product-tab .tab-nav li+li {
  margin-left: 30px;
}

.product-tab .tab-nav li a {
  display: block;
  padding: 15px 0px;
  text-transform: uppercase;
  font-weight: 700;
}

.product-tab .tab-nav li.active {
  position: relative;
}

.product-tab .tab-nav li.active a {
  color: #532800;
}

.product-tab .tab-nav li.active a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1.5px;
  height: 3px;
  width: 30px;
  background-color: #532800;
}

/*-- reviews --*/

.single-review {
  margin-bottom: 30px;
}

.single-review .review-heading>div {
  display: inline-block;
}

.single-review .review-heading>div+div {
  margin-left: 10px;
}

.single-review .review-rating {
  display: inline-block;
}

.single-review .review-rating>i {
  color: #ffee56;
}

.single-review .review-rating>i.empty {
  color: #DADADA;
}

.single-review .review-body {
  margin-top: 10px;
}

.reviews-pages li {
  display: inline-block;
  margin-right: 6px;
}

.reviews-pages li a {
  display: block;
  min-width: 10px;
  text-align: center;
}

.reviews-pages li.active {
  color: #da5802;
}

/*-- review form --*/

.review-form textarea.input {
  height: 90px;
}

.review-form .input-rating .stars {
  display: inline-block;
  vertical-align: top;
}

.review-form .input-rating .stars input[type="radio"] {
  display: none;
}

.review-form .input-rating .stars>label {
  float: right;
  cursor: pointer;
  padding: 0px 3px;
  margin: 0px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.review-form .input-rating .stars>label:hover, .review-form .input-rating .stars>label:hover~label {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

.review-form .input-rating .stars>label:before {
  content: "\f006";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  color: #DADADA;
  font-size: 14px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.review-form .input-rating .stars>label:hover:before, .review-form .input-rating .stars>label:hover~label:before {
  content: "\f005";
  color: #d86405;
}

.review-form .input-rating .stars>input:checked label:before, .review-form .input-rating .stars>input:checked~label:before {
  content: "\f005";
  color: #d86405;
}

/*=========================================================
	09 -> CHECKOUT PAGE
===========================================================*/

.shiping-methods {
  margin-bottom: 30px;
}

/*-- shopping cart table --*/

.shopping-cart-table>tbody>tr>td, .shopping-cart-table>tbody>tr>th, .shopping-cart-table>tfoot>tr>td, .shopping-cart-table>tfoot>tr>th, .shopping-cart-table>thead>tr>td, .shopping-cart-table>thead>tr>th {
  padding: 15px 0px;
  vertical-align: middle;
  border-top: 1px solid #DADADA;
}

.shopping-cart-table>thead>tr>th {
  color: #30323A;
  text-transform: uppercase;
  border-bottom: 1px solid #DADADA;
}

.shopping-cart-table>tbody>tr:last-child>td {
  border-bottom: 1px solid #DADADA;
}

.shopping-cart-table>tfoot>tr>td, .shopping-cart-table>tfoot>tr>th {
  color: #30323A;
  border-top: 0px
}

.shopping-cart-table>tfoot>tr>td:not(.empty), .shopping-cart-table>tfoot>tr>th:not(.empty) {
  padding: 15px;
  background-color: #F6F7F8;
  border: 1px solid #DADADA;
}

.shopping-cart-table>tbody>tr>.details>a {
  font-size: 18px;
  font-weight: 700;
}

.shopping-cart-table>tbody>tr>.thumb>img {
  width: 60px;
}

.shopping-cart-table>tbody>tr>.qty .input {
  width: 90px;
}

.shopping-cart-table>tbody>tr>.price {
  font-size: 18px;
}

.shopping-cart-table>tbody>tr>.total {
  font-size: 18px;
}

.shopping-cart-table>tfoot>tr>.sub-total {
  font-size: 18px;
}

.shopping-cart-table>tfoot>tr>.total {
  font-size: 24px;
  color: #845422 ;
}


/*=========================================================
	10 -> About
===========================================================*/
#content {
	background: #fff;
	position: relative;
	z-index: 1;
}
section {
	position: relative;
	overflow: hidden;
	width: 100%;
	background: #fff;
}
.position-center-center {
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.center-block {
	float: none;
}
.padding-top-100 {
	padding-top: 100px !important;
}
.padding-bottom-100 {
	padding-bottom: 100px !important;
}
.margin-top-80 {
	margin-top: 80px !important;
}
.margin-bottom-80 {
	margin-bottom: 80px !important;
}
.light-gray-bg {
	background: #f7f7f7 !important;
}
.padding-top-150 {
	padding-top: 150px !important;
}
.padding-bottom-150 {
	padding-bottom: 150px !important;
}
.heading {
	margin: 0 auto;
	margin-bottom: 80px;
	position: relative;
	z-index: 1;
}
.heading h3 {
	margin: 0px;
	font-size: 36px;
	color: #333333;
	font-weight: normal;
	text-transform: none;
	position: relative;
}
.heading h4 {
	font-weight: bold;
	color: #2d3a4b;
	font-size: 26px;
	margin: 0px;
	margin-bottom: 20px;
	letter-spacing: 5px;
}
.heading span {
	color: #666666;
}
.heading span {
	display: inline-block;
	width: 52%;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.1px;
	color: #666666;
	font-family: 'Playfair Display', serif;
}
.heading h4 {
	font-weight: bold;
	color: #2d3a4b;
	font-size: 26px;
	margin: 0px;
	margin-bottom: 20px;
	letter-spacing: 5px;
}

/* BANNER */

.bnr {
	background: url(../img/bnr.jpg) no-repeat;
	background-size: cover !important;
  background-attachment: fixed;
  background-position: 0 -100px;
	min-height: 500px;
	text-align: center;
	position: relative;
  filter: blur(0.6px);
}

.bnr h4 {
	font-size: 45px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	letter-spacing: 24px;
	margin-top: 0px;
  
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 1);
}
.bnr p {
	color: #f8f8f8;
	letter-spacing: 0px;
	font-family: 'Playfair Display', serif;
	font-size: 18px;
  margin-top: 20px;
	max-width: 600px;
	margin: 0 auto;
}
.bnr h6 {
	display: inline-block;
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	float: left;
	line-height: 58px;
	margin: 0px;
	letter-spacing: 1px;
}

/* HISTORY */
.setting-img{
  z-index: 1;
  filter: blur(1px);
}
.history-block h4 {
	font-size: 30px;
	text-align: center;
	margin-bottom: 30px;
	color: #2d3a4b;
	letter-spacing: 3px;
}
.history-block p {
	font-family: 'Playfair Display', serif;
  font-size: 17px;
}
.vision-text h5 {
	font-size: 20px;
	text-align: left;
	color: #2d3a4b;
	letter-spacing: 2px;
}
.vision-text h2 {
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	font-weight: normal;
	text-transform: none;
	margin-top: 18px;
	color: #666666;
	line-height: 40px;
  max-width: 300px;
}
.history-block .relative .position-center-center {
	width: 100%;
}

/* Culture */

.cultur-block ul {
	position: relative;
}
.cultur-block li {
	float: left;
	width: 25%;
}
.cultur-block li img {
	width: 100%;
}
.cultur-block .position-center-center {
	width: 100%;
	text-align: center;
}
.cultur-block p {
	font-family: 'Playfair Display', serif;
	color: rgb(0, 0, 0);
  font-size: 20px;
}
.cultur-block h4 {
	color: rgb(244, 247, 69);
	letter-spacing: 2px;
  font-size: 35px;
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 1);
}
.video-block a {
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: bold;
}
.video-block a i {
	color: #ffe115;
	float: left;
	margin-top: 5px;
	margin-right: 20px;
}
.video-block img{
  width: 100%;
  height: 500px;
  filter: blur(2px);
}

/* Team */

.our-team {
}
.our-team article {
	position: relative;
}
.our-team .avatar {
	height: 268px;
	width: 268px;
	position: relative;
	overflow: hidden;
	display: inline-block;
	border-radius: 50%;
}
.our-team .team-hover {
	background: rgba(0,0,0,0.8);
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	border-radius: 50%;
	left: 0%;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.our-team article .position-center-center {
	width: 100%;
}
.our-team article:hover .team-hover {
	left: 0px;
	opacity: 1;
}
.our-team article:hover img {
}
.our-team .team-hover img {
	border-radius: 50%;
}
.our-team .social-icons a {
	color: #fff;
	font-size: 20px;
	margin: 0 10px;
}
.our-team .team-names {
	position: relative;
	margin-top: 30px;
	margin-bottom: 50px;
}
.our-team .team-names h6 {
	font-weight: bold;
	font-size: 18px;
	margin-top: 0px;
	color: #2d3a4b;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.our-team .team-names p {
	color: #666666;
	font-size: 12px;
}
.our-team-small .avatar {
	height: 100px;
	width: 200px;
}
.our-team-small .avatar img {
	width: 100%;
}
.our-team-small .team-names h6 {
	font-size: 14px;
	font-weight: normal;
}
.client-img-2 {
	border-bottom: 1px solid #d1d5db;
}
.client-img-2 li {
	text-align: center;
}

/* Tweet */

.primary-color {
	color: #ffe115 !important;
}

.tweet {
	text-align: center;
	border-bottom: 1px solid #d1d5db;
}
.tweet p {
	font-family: 'Playfair Display', serif;
}
.tweet i {
	font-size: 30px;
	margin-bottom: 30px;
	display: inline-block;
}
.tweet span {
	font-size: 18px;
	color: #2d3a4b;
	margin-top: 10px;
	display: inline-block;
	letter-spacing: 2px;
}
.clients-img li {
	float: left;
	width: 25%;
	text-align: center;
}
.huge-text {
	font-size: 100px;
	color: #ffe115;
	text-transform: uppercase;
	position: absolute;
	font-weight: bold;
	letter-spacing: 3px;
	left: -130px;
	line-height: 90px;
  max-width: 650px;
  
}

.small-about {
	border-top: 1px solid #d1d5db;
}
.small-about .social_icons {
	text-align: center;
  margin-top: -20px;
}
.small-about .social_icons li {
	display: inline-block;
}
.small-about .social_icons li a {
	font-size: 16px;
	margin: 0 5px;
	color: #2d3a4b;
}
.small-about .social_icons li a:hover {
	color: #ffe333;
}
.small-about p {
	font-family: 'Playfair Display', serif;
	color: #4d4d4d;
	font-size: 14px;
	line-height: 20px;
	max-width: 900px;
	margin: 0 auto;
}
/*=========================================================
	11 -> FOOTER
===========================================================*/

.footer {
  margin: 15px 0px;
}

.footer .footer-header {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.footer>hr {
  margin-top : -10px; 
  width: 70%; 
  margin-left: 0px; 
  box-shadow: 0px -1px 3px 1px #dadae3 ;
}

.footer-logo {
  margin-bottom: 20px;
  text-align: center;
}

.footer-logo-pengiriman {
  margin-bottom: 20px;
}

.footer-logo .logo {
  display: inline-block;
}

.footer-logo-pengiriman .logo-pengiriman {
  display: inline-block;
}

.footer-logo .logo>img {
  width: 50%;
  max-height: 80%;
}

.footer-logo-pengiriman .logo-pengiriman>img {
  width: 70%;
}

.footer-logo .logo,.logo:hover {
  -webkit-transition: all 250ms ease-in-out; 
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
  
.footer-logo .logo:hover {
  -webkit-transform:scale(1.2); 
  -moz-transform:scale(1.2); 
  -o-transform:scale(1.2); 
  opacity: 1; z-index: 2; 
}

.footer-logo-pengiriman .logo-pengiriman,.logo-pengiriman:hover {
  -webkit-transition: all 250ms ease-in-out; 
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
  
.footer-logo-pengiriman .logo-pengiriman:hover {
  -webkit-transform:scale(1.5); 
  -moz-transform:scale(1.5); 
  -o-transform:scale(1.5); 
  opacity: 5; z-index: 9; 
}

.footer-social>li {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 6px;
  font-size: 20px;
}

.footer-social>li:last-child {
  margin-right: 0px;
}

.footer-copyright {
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 14px;
}

/*=========================================================
	12 -> SLICK
===========================================================*/

/*----------------------------*\
	Arrows
\*----------------------------*/

.slick-prev, .slick-next {
  width: 40px;
  height: 40px;
  background: #30323A;
  z-index: 22;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  background: #845422;
}

.slick-prev:before, .slick-next:before {
  color: #FFF;
}

.slick-prev {
  left: 15px;
}

.slick-next {
  right: 15px;
}

.custom-nav .slick-prev, .custom-nav .slick-next {
  display: inline-block;
  position: static;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

/*----------------------------*\
	Dots
\*----------------------------*/

.slick-dots li, .slick-dots li button, .slick-dots li button:before {
  width: 10px;
  height: 10px;
}

.slick-dots li button:before {
  content: "";
  opacity: 1;
  background: #DADADA;
  border-radius: 50%;
}

.slick-dots li.slick-active button:before {
  background-color: #845422;
}

.custom-dots .slick-dots {
  position: static;
  margin: 15px 0px;
}

/*=========================================================
	13 -> RESPONSIVE
===========================================================*/

@media only screen and (max-width: 991px) {
  #home .home-wrap {
    margin-left: 0px;
  }
  
  #aside {
    margin-bottom: 60px;
  }
  .product-reviews {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .banner h1 {
    font-size: 36px;
  }
  .store-filter .pull-right, .store-filter .pull-left {
    float: none !important;
  }
  .store-filter .pull-right {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 480px) {
  [class*='col-xs'] {
    width: 100%;
  }
}


